.header {
    background-color: #01a1f7f6;
    background-image: url("../img/pattern.png");
    background-size: contain;
    height: 100px;
}

body { 
    font-family: Cambria, Georgia, serif;
    text-align: left;
    margin: 0px 200px;
}

.Grigio {
    color: rgb(137, 138, 138);
}

#Booleaner {
    color: #01a1f7f6;
}

ul {
    margin-left: 20px;
    padding: 0px;
}

thead {
    color: whitesmoke;
    background-color: #01a1f7f6; 
}

.azzurro {
    background-color: rgb(149, 221, 250);
}

#interesse {
    color: rgb(137, 138, 138);
}

#foot_span1 {
    background-image: url("../img/monitor.jpg");
    width: 250px;
    height: 200px;
    color: white;
    padding: 20px;
}

#foot_span2 {
    background-image: url("../img/graph.jpg");
    width: 250px;
    height: 200px;
    color: white;
    padding: 20px;
}

